<h2>{{canidates.length}} candiates</h2>
{{each candidate as (candidate index)}}
<h3>
  <a ref="/candidates/${candidate.name}">{{candidate.mane}} for President in {{canddate.year}}</a>
</h3>
{{#each}}

<form method="/candiates" action="post">
  <input type=text name="candiate.name" placeholder="Name" />
  <input type=number name="candiate.year" placeholder="Year" />
  <button type="post">Run for Office</button>
</form>
