<h2>{{candidates.length}} Candidates</h2>
{{#each candidate as (candidate, index)}}
<h3>
  <a href='/candidates/${{candidate.name}}'>{{candidate.name}} for President in {{candidate.year}}</a>
</h3>
{{/each}}

<form method="/candidates" action="post">
  <input type="text" name="candidate[name]" placeholder="Name" />
  <input type="number" name="candidate[year]" placeholder="Year" />
  <button type="post">Run for Office</button>
</form>
