html {
  min-height: 100%;
}

body {
  font-family: 'Cormorant', serif;
  text-align: center;
  background-image: linear-gradient(to bottom right, rgb(0, 185, 244), rgb(0, 254, 214));
  background-attachment: fixed;
  color: white;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

a {
  font-family: 'Cormorant', serif;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px  rgb(2, 102, 69);
}

a:hover {
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

button, input {
  background: rgb(152, 253, 236);
  color: white;
  text-shadow: 1px 1px 0px rgb(103, 184, 170);
  border: 1px solid white;
  padding: 4px;
}

form {
  margin: 4px;
}
